@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "night";  
  default: true;
  --color-primary: #ffffff;
  --color-secondary: #19abff;
  --color-accent: #152847;
  --color-base-100: #0e1022;
};

[data-theme="night"] {
  .badge {
    margin: 0.3rem 0.5rem;
    border-radius: 10px; 
    color: #fff;
  }
  .badge-lg {
    padding: 1rem 2rem;
  }
}


@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --cs-background: #0e1022;
  --cs-primary: #fff;
  --cs-secondary: #19abff;
  --cs-accent: #152847;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--cs-primary);
  background: var(--cs-background);

  letter-spacing: 4px; /* universal letter spacing */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* section padding */
#main-page section {
  /* margin: 25vh 2vw; */
  @apply min-h-screen mx-10
}

h1 {
  color: var(--cs-primary);
}

h2 {
  margin-bottom: 10px;
  color: var(--cs-secondary);
  text-transform: uppercase;
  font-size: 1.2rem;
}

/* text emphasis */
.emphasis {
  color: var(--cs-secondary);
}

.gr-alt:nth-child(odd) {
  @apply col-start-2 col-span-1;
}

.gr-alt:nth-child(even) {
  @apply col-start-3 col-span-1;
}

.gr-alt:nth-child(2) {
  @apply row-start-2;
}